:root {
  --blurtip-blur: 15px;
  --blurtip-scale: 1.3;
  --blurtip-opacity: 0;
}

@keyframes blur-in {
  from {
    opacity: var(--blurtip-opacity);
    transform: scale(var(--blurtip-scale));
    filter: blur(var(--blurtip-blur));
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

@keyframes blur-out {
  from {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
  to {
    opacity: var(--blurtip-opacity);
    transform: scale(var(--blurtip-scale));
    filter: blur(var(--blurtip-blur));
  }
}
