@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 0%;

    --hover: 240deg 4.26% 95.88%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 98%;
    --popover-foreground: 240 10% 0%;

    --card: 0 0% 98%;
    --card-foreground: 240 10% 0%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* zinc-950 */
    /* --background: 240 10% 3.9%; */
    --background: 240 10% 0%;
    --foreground: 0 0% 98%;

    --hover: 240deg 5.88% 10%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 0%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 0%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.prose img {
  @apply m-0;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full p-0 text-sm text-black break-words bg-transparent border-0 rounded;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply py-1;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > span::before {
  @apply inline-block w-4 mr-4 text-right text-sky-500;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
}

[data-rehype-pretty-code-fragment] .line-highlighted {
  @apply bg-sky-500 bg-opacity-10;
}

[data-rehype-pretty-code-fragment] .word {
  @apply p-1 rounded-md bg-sky-500 bg-opacity-10;
}

[data-rehype-pretty-code-title] {
  @apply px-4 py-3 font-mono text-xs font-medium border rounded-t text-foreground border-border bg-muted;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0 border-t-0 rounded-t-none;
}
