.container {
  --border-color: color-mix(in srgb, var(--color-muted-fg) 25%, transparent);

  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  height: 350px;
}

.resizeHandle {
  width: 2px;
  background-color: var(--border-color);
}

.filler {
  background-image: repeating-linear-gradient(
    45deg,
    var(--border-color),
    var(--border-color) 1px,
    transparent 1px,
    transparent 20px
  );
  height: 100%;
  display: grid;
  padding: var(--spacing-2);
  place-items: center;
  text-align: center;
}

.main {
  padding: var(--spacing-3);
  height: 100%;
  overflow-y: auto;
  container: main / inline-size;
}

.grid {
  --item-outline-width: 0px;
  gap: var(--spacing-2);
  padding: var(--spacing-2);
  border: 1px solid color-mix(in srgb, var(--color-purple) 80%, var(--color-contrast));
  border-radius: var(--radius);

  font-size: var(--font-size-lg);
  font-weight: 700;
  letter-spacing: var(--letter-spacing-wider);

  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;

  @container main (min-width: 220px) {
    grid-template-columns: 1fr 1fr;
  }

  @container main (min-width: 420px) {
    grid-template-columns: repeat(4, 1fr);
  }

  & > div {
    outline: 1px dashed color-mix(in srgb, var(--color-contrast) 75%, transparent);
    outline-width: var(--item-outline-width);
    padding: var(--spacing-2);
    border-radius: var(--radius-sm);
  }

  & dl {
    grid-column: 2;
  }

  & dt,
  & dd span {
    font-size: var(--font-size-xs);
    font-weight: 500;
    letter-spacing: var(--letter-spacing-wide);
    color: var(--color-muted-fg);
  }

  & dd {
    line-height: 1;
    font-size: 1.5rem;
    /* font-size: clamp(0.75rem, 20cqi, 2rem); */
  }
}
